<div class="container">
	<div class="row">
		<div class="col-md-12 text-center" id="top-bar">
			<img class="image" src="/assets/img/burger.png" alt="burger" />
			<h1> Chomp Chomp! </h1>
		</div>
		<div class="col-md-6 text-center" class="task">
			<div class="row">
			  {{#each burgerData}}
			  	{{#unless this.devoured}}
				<div class="col-md-9 text-center bg-info">
					<pre>{{this.id}}. {{this.burgerName}}
					</pre>
				</div>
				<div class="col-md-3 text-center">
					<form class="devour-form button-size">
						<input input type="hidden" class="burger_id" type="text" value={{this.id}}><br>
						<button type="submit" class="btn btn-primary">Devour it!</button>
					</form>
				</div>
				{{/unless}}
			  {{/each}}
			</div>
		</div>
		<div class="col-md-6 text-center" class="task">
			  {{#each burgerData}}
			  	{{#if this.devoured}}
			  		<input class="form-control" type="text" placeholder="{{this.id}} . {{this.burgerName}}" readonly>
				{{/if}}
			  {{/each}}
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-12 text-center enter_section">
			<form action="/burgers/create" method="POST">
				<input type="text" class="form-control" name="burgerName" value="" id="enter_text">
				<button type="submit" class="btn btn-primary" id="text-enter-button">Submit</button>
			</form>
			<p class="bg-info font-weight-bold">Create your own burger! Just type in the name!</p>
		</div>
	</div>
</div>
